<launch>
	<master auto="start"/>

	<!-- Run the map server -->
	<node pkg="map_server" type="map_server" name="map_server" args="/home/ubuntu/homework4/map.yaml" />

	<!-- run AMCL-->
	<include file="/home/ubuntu/homework4/amcl.launch" />

	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
		<param name="controller_frequency" value="2.0" />
		<rosparam file="/home/ubuntu/homework4/costmap_common_params.yaml" command="load" ns="global_costmap" />
		<rosparam file="/home/ubuntu/homework4/costmap_common_params.yaml" command="load" ns="local_costmap" />
		<rosparam file="/home/ubuntu/homework4/local_costmap_params.yaml" command="load" />
		<rosparam file="/home/ubuntu/homework4/global_costmap_params.yaml" command="load" />
		<rosparam file="/home/ubuntu/homework4/base_local_planner_params.yaml" command="load" />
	</node>

</launch>
